<<<<<<< HEAD
<h1>Create a new message</h1>
<form action="/messages" method="post">
    <label>message</label>
    <textarea name="content"></textarea>
    <input type="submit"/>
</form>

=======
<form>
    <input type="text" name="content">
    </input>
</form>
>>>>>>> 3a14f049b22fbae521e08c96b754fefa45fa3067
