<h1>Welcome to the Weather Message Forum</h1>

<h3>Please log in below</h3>
<form action="/login" method="post">
    <input type="text" name="username">
    <input type="submit" value="log in">
</form>